.login{
    height: 100vh;
    background-image: linear-gradient(#0000007e,#0000007e),url(/background_banner.jpg);
    padding: 20px 8%;
}
.login-logo{
    width: 150px;
}
.login-form{    
    width: 100%;
    max-width: 450px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 60px;
    margin: auto;
}
.login-form h1{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 18px;
}
.login-form .info{
    width: 100%;
    height: 60px;
    border: 1px solid #ccc;
    outline: 0;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin: 12px 0;
    padding: 16px 20px;
    border-radius: 4px;
}
.login-form .info ::placeholder{
    font-size: 16px;
    font-weight: 600;
    color: white;
}
.login-form p{
    margin-bottom: 8px;
    text-align: center;
}
.login-form p:hover{
    cursor: pointer;
    text-decoration: underline;
}
.login-form button{
    width: 100%;
    height: 40px;
    background-color: #ff0000;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    margin: 15px 0;
}
.form-help{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #b3b3b3;
    font-size: 15px;
}
.remember{
    display: flex;
    align-items: center;
    gap: 6px;
}
.remember input{
    width: 18px;
    height: 18px;
}

.description{
    color: rgb(140, 132, 132);
    font-size: 12px;
    font-weight: 500;
    margin: 2em 0;
    text-align: center;
}
.form-switch{
    margin-top: 1.5em;
    color: rgb(140, 132, 132);
}
.form-switch span{
    cursor: pointer;
    margin-left: 0.5em;
    color: white;
}
.form-switch h4{
    font-size: 16px;
    font-weight: 400;
}
.spinner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.spinner img{
    width: 60px;
    margin-top: 20em;
}

@media (max-width:500px) {
    .login{
        padding: 15px;
    }
    .login-form{
        padding: 20px;
        margin-top: 30px;
    }
}